

div.studentCardContainer {
    width: fit-content;
    height: 200px;
    background: lightgreen;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    text-align: start;
}

 button.showButton{
    background: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
 }

.showButton:hover {
    background: lightblue;
 }

 div.studentCardContainer + div.studentCardContainer {
    margin: 20px;
 }